{% extends "base.html" %}
{% block title %}
<title>home page</title>
{% endblock title %}



{%block content%}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

  <div class="container mt-5 mb-4">
      <h3 class="mb-3">Read Top Stories</h3>


       <div class="row mb-2 my-3 mx-1">
 {% for blog in blogs %}
  <div class="col-md-6">
      <div class="col p-4 d-flex flex-column position-static">
    <div class="card shadow ">

        <div class="card-body">
           <h5 class="card-title">{{blog.title}}</h5>
           <p class="card-text mb-auto">{{blog.content|truncatewords:60|safe}}</p>
            {{ blog.categories }}

            <img src="{{ blog.image.url }}" class="responsive-img" alt="{{blog.title}}" style="width: 100%;margin-bottom: 10px;">
           <br>
           <a href="blog_detail/{{blog.id}}" style="    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;padding:10px;border-radius:5px;text-decoration:none;">view post </a>
             <form action="{% url 'liked' blog.id %}" method="POST" style="float: right;">
               {% csrf_token %}
               {% if post_is_liked %}
                <div class="btn btn-info btn" style="padding:5px;">
                   <input type="hidden" name="increment" value="-1">
                 <span class="fa fa-thumbs-o-up" ></span><input class="btn btn-info btn"   style="padding:5px;" type="submit"  name="id" value="Unliked">
                </div>  {{ blog.liked }}

               {% else %}
                <div class="btn btn-info btn" style="padding:5px;">
                    <input type="hidden" name="increment" value="1">
                 <span class="fa fa-thumbs-o-up" ></span><input class="btn btn-info btn"   style="padding:5px;" type="submit"  name="id" value="Liked">
                </div>  {{ blog.liked }}
               {% endif %}
              </form>
        </div>
    </div>
 </div>
</div>
       {% endfor %}
      </div>
  </div>
{% endblock %}
