
<html lang="en">

  <head>
    <!-- Required meta tags -->

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
  footer {
    clear: both;
    position: relative;
    height: 10%;
    margin-top: 40%;
}
</style>
 <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
     <div class="container-fluid">
  <a class="navbar-brand text-white" href="#">Blogging</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link text-white" href="/">{{request.user}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="post_blog ">Post Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white" href="change_password ">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info text-white" href="logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link btn btn-success text-white" href="{% url 'login'%}">Login</a>
      </li>>
      <li class="nav-item">
        <a class="nav-link btn btn-info text-white" href="{% url 'register'%}">Register</a>
      </li>>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
     </div>
</nav>



{% block body %}
<h2>Password reset complete</h2>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}
 <footer class="bg-dark p-2">
     <p class="text-center text-white "> All rights reserved Blogging</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
